@using Insite.Core.Providers
<div class="large-6 columns si-form">
    <h1>@T("Sign In")</h1>
    <div class="si-step-1">

        <form id="signInForm" name="vm.signInForm" novalidate>

            <div class="alert-box alert" ng-if="vm.signInError || vm.signInForm.$submitted && vm.signInForm.password.$error.required || vm.signInForm.$submitted && vm.signInForm.userName.$error.required">
                <span class="field-validation-error" ng-if="vm.signInForm.$submitted && vm.signInForm.userName.$error.required">@MessageProvider.Current.SignInInfo_UserName_Required</span>
                <span class="field-validation-error" ng-if="vm.signInForm.$submitted && vm.signInForm.password.$error.required">@MessageProvider.Current.SignInInfo_Password_Required</span>
                <span class="field-validation-error" ng-if="vm.signInError">{{vm.signInError}}</span>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <label for="SignInInfo_UserName" class="hide">@T("Email address")</label>
                    <input type="text" id="SignInInfo_UserName" name="userName"
                           placeholder="@T("Email address")"
                           required
                           maxlength="75"
                           ng-model="vm.userName" />
                </div>
                <div class="large-6 columns">
                    <label for="SignInInfo_Password" class="hide">@T("Password")</label>
                    <input type="password" id="SignInInfo_Password" name="password"
                           placeholder="@T("Password")"
                           required
                           maxlength="75"
                           ng-model="vm.password" />
                </div>
            </div>
            <div class="buttons">
                <button id="userNamePasswordSignInButton" type="submit" ng-disabled="vm.disableSignIn" class="button" ng-click="vm.signIn('@MessageProvider.Current.SignInInfo_UserNamePassword_Combination.Replace("'", "\\'")')" test="test">@T("Sign In")</button>
            </div>
            <isc-forgot-password-popup></isc-forgot-password-popup>
        </form>
    </div>
</div>