@using Insite.Core.Providers
<div id="changePasswordPopup" class="reveal-modal popup-forgot-pw" data-reveal data-reveal-init>
    <div class="modal-wrap">
        <h2>@T("Change Password")</h2>
        <div class="cm" ng-include="'changePassword_instructions'"></div>
        <div class="row">
            <form id="changePasswordForm">
                <div class="row ca-form-username">
                    <div class="medium-5 large-5 columns">
                        <label for="ChangePasswordInfo_UserName">@T("Username") <span class="redTxt">*</span></label>
                    </div>
                    <div class="medium-7 large-7 columns">
                        <input type="text" id="ChangePasswordInfo_UserName" name="ChangePasswordInfo.UserName"
                               data-rule-required="true"
                               data-msg-required="@string.Format(MessageProvider.Current.Field_Required, T("Username"))"
                               ng-model="vm.userName">
                        <span class="field-validation-valid" data-valmsg-for="ChangePasswordInfo.UserName" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="row ca-form-password">
                    <div class="medium-5 large-5 columns">
                        <label for="ChangePasswordInfo_Password">@T("Existing Password") <span class="redTxt">*</span></label>
                    </div>
                    <div class="medium-7 large-7 columns">
                        <input type="password" id="ChangePasswordInfo_Password" name="ChangePasswordInfo.Password"
                               data-rule-required="true"
                               data-msg-required="@string.Format(MessageProvider.Current.Field_Required,T("Password"))"
                               ng-model="vm.password">
                        <span class="field-validation-valid" data-valmsg-for="ChangePasswordInfo.Password" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="row ca-form-password">
                    <div class="medium-5 large-5 columns">
                        <label for="ChangePasswordInfo_NewPassword">@T("New Password") <span class="redTxt">*</span></label>
                    </div>
                    <div class="medium-7 large-7 columns">
                        <input type="password" id="ChangePasswordInfo_NewPassword" name="ChangePasswordInfo.NewPassword"
                               data-rule-required="true"
                               data-msg-required="@string.Format(MessageProvider.Current.Field_Required, T("Password"))"
                               data-rule-minlength="{{vm.settings.passwordMinimumLength}}"
                               data-msg-minlength="{{'@MessageProvider.Current.ChangePasswordInfo_Password_Too_Short'.replace('{0}', vm.settings.passwordMinimumLength)}}"
                               ng-model="vm.newPassword">
                        <span class="field-validation-valid" data-valmsg-for="ChangePasswordInfo.NewPassword" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="row ca-form-retype">
                    <div class="medium-5 large-5 columns">
                        <label for="ChangePasswordInfo_ConfirmPassword">@T("Confirm Password") <span class="redTxt">*</span></label>
                    </div>
                    <div class="medium-7 large-7 columns">
                        <input type="password" id="ChangePasswordInfo_ConfirmPassword" name="ChangePasswordInfo.ConfirmPassword"
                               data-rule-required="true"
                               data-msg-required="@string.Format(MessageProvider.Current.Field_Required, T("Confirm Password"))"
                               data-rule-equalto="#ChangePasswordInfo_NewPassword"
                               data-msg-equalto="@MessageProvider.Current.CreateNewAccountInfo_PasswordCombination_DoesNotMatch"
                               ng-model="vm.confirmPassword">
                        <span class="field-validation-valid" data-valmsg-for="ChangePasswordInfo.ConfirmPassword" data-valmsg-replace="true"></span>
                        <div class="pw-note">@MessageProvider.Current.ChangePasswordInfo_Password_Not_Meet_Requirements</div>
                    </div>
                </div>
                <div class="error">
                    <span id="changePasswordError" class="field-validation-error" ng-if="vm.changePasswordError" ng-bind="vm.changePasswordError"></span>
                </div>

                <div class="btns">
                    <button id="changePasswordSubmitButton" type="submit" class="btn primary" ng-click="vm.changePassword()">@T("Change Password")</button>
                </div>
            </form>
        </div>
    </div>
</div>
