@using Insite.Core.Providers
@using Insite.WebFramework.Mvc.Extensions

<div>
    <a href="#" ng-click="vm.openForgotPasswordPopup()" class="tiny-lnk" id="forgotPasswordLink" data-reveal-id="forgotPasswordPopup">@T("Forgot Password?")</a>
    <div id="forgotPasswordPopup" class="reveal-modal popup-forgot-pw" data-reveal data-reveal-init>
        <div class="modal-wrap">
            <h2>@T("Forgot Password")</h2>

            <div ng-show="!vm.resetPasswordSuccess">
                <div class="row message">@Html.Message("ForgotPassword_Instructions", "To reset your password, please enter the email address associated with the account.")</div>
                <form id="resetPasswordForm" class="custom">
                    <div class="row email-addy">
                        <div class="medium-5 large-5 columns">
                            <label for="Email">@T("Email Address")</label>
                        </div>
                        <div class="medium-7 large-7 columns">
                            <input type="text" id="Email" name="Email"
                                   data-rule-required="true"
                                   data-msg-required="@string.Format(MessageProvider.Current.Field_Required, T("Email Address"))"
                                   data-rule-email="true"
                                   data-msg-email="@string.Format(MessageProvider.Current.Field_Invalid, T("Email Address"))"
                                   ng-model="vm.email">
                            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <p class="error">
                        <span id="resetPasswordError" class="field-validation-error" ng-if="vm.resetPasswordError" ng-bind="vm.resetPasswordError"></span>
                    </p>
                    <div class="row btns">
                        <button id="forgotPasswordPopupResetPasswordButton" type="button" class="btn primary btn-reset-password" ng-click="vm.resetPassword()">@T("Reset Password")</button>
                        <button id="forgotPasswordPopupCancelButton" type="button" class="btn secondary btn-cancel" onclick="$('.close-reveal-modal').click()">@T("Cancel")</button>
                    </div>
                </form>
            </div>
            <div class="pw-reset" ng-show="vm.resetPasswordSuccess">
                <div class="row message">@Html.Message("ForgotPassword_ResetPasswordEmailSent", "Your password has emailed to the address associated with your account.")</div>
                <div class="row btns">
                    <button id="forgotPasswordPopupCloseAfterSuccessButton" type="button" class="btn primary btn-done" onclick="$('.close-reveal-modal').click()">@T("Close")</button>
                </div>
            </div>

            <a id="forgotPasswordPopupCloseButton" class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>