@using Insite.Core.Providers

<div class="large-6 columns si-form">
    <div class="si-step-1">

        <form id="signInForm" name="vm.signInForm" novalidate>
            <div class="row">
                <div class="large-6 columns">
                    <label for="SignInInfo_UserName">@T("Username")</label>
                    <input type="text" id="SignInInfo_UserName" name="userName"
                           placeholder="@T("Username")"
                           required
                           maxlength="75"
                           ng-model="vm.userName" />
                </div>
                <div class="large-6 columns">
                    <label for="SignInInfo_Password">@T("Password")</label>
                    <input type="password" id="SignInInfo_Password" name="password"
                           placeholder="@T("Password")"
                           required
                           maxlength="75"
                           ng-model="vm.password" />
                </div>
            </div>
            <isc-forgot-password-popup></isc-forgot-password-popup>
            <p class="error">
                <span class="field-validation-error" ng-if="vm.signInForm.$submitted && vm.signInForm.userName.$error.required">@MessageProvider.Current.SignInInfo_UserName_Required</span>
                <span class="field-validation-error" ng-if="vm.signInForm.$submitted && vm.signInForm.password.$error.required">@MessageProvider.Current.SignInInfo_Password_Required</span>
                <span class="field-validation-error" ng-if="vm.signInError">{{vm.signInError}}</span>
            </p>
            <div class="btns">
                <button id="userNamePasswordSignInButton" type="submit" ng-disabled="vm.disableSignIn" class="btn primary btn-sign-in" ng-click="vm.signIn('@MessageProvider.Current.SignInInfo_UserNamePassword_Combination.Replace("'", "\\'")')" test="test">@T("Sign In")</button>
            </div>
        </form>

    </div>
</div>