@using Insite.Core.Providers

<div>
    <ul class="item-list cart-items">
        <li class="row item-block checkout-item" ng-repeat="quoteLine in vm.quote.quoteLineCollection">

            <isc-product-thumb product="quoteLine"></isc-product-thumb>

            <div class="small-9 columns item-details">
                <div class="item-name">
                    <a id="proposedDetailsGridProductLink" ng-href="{{quoteLine.productUri}}">
                        <span ng-if="!quoteLine.properties['sopDescription']" ng-bind="quoteLine.shortDescription"></span>
                        <span ng-if="quoteLine.properties['sopDescription']" ng-bind="quoteLine.properties['sopDescription']"></span>
                        <span ng-if="!quoteLine.isFixedConfiguration" ng-repeat="sectionOption in quoteLine.sectionOptions">
                            <br /> <span ng-bind="sectionOption.sectionName + ':' + sectionOption.optionName"></span>
                        </span>
                    </a>
                </div>

                <isc-product-name product="quoteLine" no-link="true"></isc-product-name>

                <div class="price">
                    <isc-product-price product="quoteLine"></isc-product-price>
                    <isc-unit-of-measure-display product="quoteLine"></isc-unit-of-measure-display>
                </div>
            </div>

            <div class="small-12 columns q-details">
                <div class="wrap">

                    <span class="field-validation-valid" data-valmsg-for="{{quoteLine.id}}_qty" data-valmsg-replace="true"></span>

                    <ul>
                        <li><strong>@T("Quoted Pricing")</strong></li>

                        <li ng-if="!vm.quote.isJobQuote && (quoteLine.pricing.actualBreakPrices === null || quoteLine.pricing.actualBreakPrices.length === 0)">
                            <span class="qtys">1+</span><span class="qprice" ng-bind="quoteLine.pricing.actualPriceDisplay"></span>
                        </li>

                        <li ng-if="!vm.quote.isJobQuote && (quoteLine.pricing.actualBreakPrices !== null && quoteLine.pricing.actualBreakPrices.length > 0)" ng-repeat="breakPrice in quoteLine.pricing.actualBreakPrices">
                            <!--Break Quantities-->
                            <span class="qtys">
                                <span ng-bind="breakPrice.breakQty"></span>
                                <isc-no-element ng-if="!$last" ng-bind="' - ' + (quoteLine.pricing.actualBreakPrices[($index+1)].breakQty-1)"></isc-no-element>
                                <span ng-if="$last">
                                    <span ng-if="quoteLine.maxQty > 0" ng-bind="' - ' + quoteLine.maxQty"></span>
                                    <span ng-if="!quoteLine.maxQty || quoteLine.maxQty === 0" ng-bind="'+'"></span>
                                </span>
                            </span>
                            <!--Break Prices-->
                            <span class="qprice" ng-bind="breakPrice.breakPriceDisplay"></span>
                        </li>

                        <li ng-if="vm.quote.isJobQuote">
                            <span class="qtys" ng-bind="quoteLine.qtyOrdered"></span><span class="qprice" ng-bind="quoteLine.pricing.actualPriceDisplay"></span>
                        </li>
                    </ul>

                    <div class="item-opt">
                        <div class="item-qty">
                            <strong>@T("QTY_quantity"): </strong>
                            <input id="proposedDetailsGridQuantityInput_{{quoteLine.id}}"
                                   type="text"
                                   name="{{quoteLine.id}}_qty"
                                   class="numerictextbox qty"
                                   ng-class="{'error' : !quoteLine.isValid}"
                                   ng-model="quoteLine.qtyOrdered"
                                   ng-keypress="vm.quantityKeyPress($event, quoteLine)"
                                   ng-blur="vm.quantityBlur($event, quoteLine)"
                                   ng-disabled="quoteLine.isPromotionItem || vm.quote.isJobQuote"
                                   data-rule-required="true"
                                   data-msg-required="@string.Format(MessageProvider.Current.Field_Required, T("Quantity"))"
                                   data-rule-min="1"
                                   data-msg-min="@MessageProvider.Current.Rfq_QtyNotInRangeMessage"
                                   data-rule-max="{{quoteLine.maxQty > 0 ? quoteLine.maxQty : 'false'}}"
                                   data-msg-max="@MessageProvider.Current.Rfq_QtyNotInRangeMessage" />
                        </div>
                        <div class="item-subtotal">
                            <strong>@T("Subtotal"):</strong>
                            <span id="{{quoteLine.id}}_subtotal" ng-bind="quoteLine.pricing.extendedActualPriceDisplay"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="vm.quote.showLineNotes && !quoteLine.isPromotionItem" class="actions-panel edit">
                <a href="" class="btn tertiary add-to-cart panel-trigger" data-cartnotes="true" ng-click="vm.notePanelClicked(quoteLine.id)">@T("Line Notes")</a>
                <div class="item-actions" data-cartnotes="true" ng-class="{open : (quoteLine.id == vm.openLineNoteId)}">
                    <div class="item-actions-wrap">
                        <div class="large-9 columns item-code-notes">
                            <div class="row">
                                <div ng-if="vm.quote.showCostCode" class="large-6 columns cost-code">
                                    <label for="cost-code" ng-bind="vm.quote.costCodeLabel">:</label>
                                    <select id="proposedDetailsGridCostCodeSelect_{{quoteLine.id}}"
                                            ng-if="vm.quote.canEditCostCode"
                                            ng-model="quoteLine.costCode"
                                            ng-options="code.costCode as code.description for code in vm.quote.costCodes"
                                            ng-change="vm.updateLine(quoteLine)"></select>
                                    <span ng-if="!vm.quote.canEditCostCode" ng-bind="vm.quote.costCodeLabel"></span>
                                </div>
                                <div class="large-6 columns item-notes">
                                    <label>@T("Add Item Notes"):</label>
                                    <input data-linenote-input type="text"
                                           id="{{quoteLine.id + '_notes'}}"
                                           name="{{quoteLine.id + '_notes'}}"
                                           ng-disabled="!vm.quote.canModifyOrder"
                                           ng-model="quoteLine.notes"
                                           ng-keypress="vm.notesKeyPress($event,quoteLine)"
                                           ng-blur="vm.updateLine(quoteLine)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>

    <div class="medium-12 large-12 columns q-total">
        <strong>@T("Total"):</strong>
        <span id="totalPrice" ng-bind="vm.quote.orderSubTotalDisplay"></span>
    </div>
</div>
