@model Insite.Configurator.Models.ConfigurationOptionViewModel
<div id="@(Model.Name)Wrapper" class="configurator-option-wrapper">
    <label for="@Model.Name" class="configurator-option-label">@Model.LabelValue</label>
    @{
        var attributes = new Dictionary<string, object>
            {
                {"class", "configurator-option-input configurator-option-combo-box"}, 
                {"title", Model.ToolTip}, 
                {"data-field-label", Model.LabelValue},
                {"data-field-required", Model.IsRequired ? "1" : "0"},
                {"data-bind", "event:{ change: onChange }, value: " + Model.Name + ", options: " + Model.Name + "Options, optionsText: 'Text', optionsValue: 'Value' " + ((!Model.IsRequired) ? ", optionsCaption: '(Select)'" : "")}
            };
        if (Model.ComboMultiSelect)
        {
            attributes.Add("multiple", "multiple");
        }
    }
    @Html.DropDownList(@Model.Name, new SelectList(Model.SelectionList, "Value", "Text", Model.Value), attributes)    
</div>
<br />