@using Insite.Account.Content
@using Insite.Common.Extensions
@using Insite.WebFramework.Mvc.Extensions
@model Header

@if (!ExcludeCmsCss)
{
    @Html.Raw(Model.Css)
}

@if (!ExcludeCmsJs)
{
    @Html.Script(@<text>@Html.Raw(Model.JavaScript)</text>)
}

<script type="text/javascript">
    var insite = insite || {};
    insite.navAdjustments = [];
</script>

<div ng-controller="TopNavController as vm" class="top-nav-container">
    
    <isc-updated-quotes-message dashboard-url="@(Url.ContentPage<MyAccountPage>())"></isc-updated-quotes-message>
    <div class="top-content">
        @Html.Zone(Model, "Top")
    </div>

    <div role="top-panel">
        <div class="top-slide">
            <div id="searchPanel">
                <isc-product-search id="narrowSearch" listen-for-data="true"></isc-product-search>
            </div>
            <div id="userPanel">
                <form>
                    <div class="row collapse" ng-if="vm.session.isAuthenticated">
                        <div class="small-12 columns right">
                            <div class="inf-cust">
                                <span class="inf-label">@T("Customer #"):</span>
                                <span class="inf-value" ng-bind="vm.session.billTo.customerNumber"></span>
                            </div>
                            <div class="inf-ship">
                                <span class="inf-label">@T("Ship To"):</span>
                                <span class="inf-value">
                                    <span ng-bind="vm.session.shipTo.companyName"></span>
                                    <span ng-cloak ng-if="vm.session.shipTo.lastName || vm.session.shipTo.firstName">
                                        {{vm.session.shipTo.lastName}} {{vm.session.shipTo.firstName}},
                                    </span>
                                    <span ng-bind="vm.session.shipTo.fullAddress"></span>
                                </span>
                            </div>
                            <a ng-if="vm.session.displayChangeCustomerLink"
                               href="@(Url.ContentPage<ChangeCustomerPage>())" class="btn primary btn-change-custship">
                                @T("Change Customer/Ship To")
                            </a>
                        </div>

                        <div class="small-12 medium-12 large-12 columns int-settings" ng-if="vm.languages.length > 1 || vm.currencies.length > 1">
                            <button class="btn tertiary isettings">
                                <span class="flag-ind" ng-if="vm.session.language">
                                    <img ng-cloak ng-src="{{vm.session.language.imageFilePath}}" alt="{{vm.session.language.description}}" />
                                </span>
                                <span class="currency-symbol" ng-if="vm.session.currency" ng-bind="vm.session.currency.currencySymbol"></span>
                                @T("International Settings")
                            </button>
                        </div>

                        <div class="small-12 columns user-info" ng-if="vm.session.isAuthenticated">
                            <div class="user-button">
                                <i class="social foundicon-torso"></i>
                                <span class="cust-name" ng-bind="vm.session.userLabel"></span>
                                <span class="user-role" ng-if="vm.session.userRoles" ng-bind="'(' + vm.session.userRoles + ')'"></span>
                            </div>
                            @helper signOutLink()
                            {
                                <a href="javascript:void(0)" class="btn secondary sign-out fastClick" ng-click="vm.signOut('@Model.ViewModel.SignOutReturnUrl')">
                                    <span>@Model.ViewModel.SignOutText</span>
                                </a>
                            }
                            @signOutLink()
                        </div>
                    </div>
                </form>
            </div>
            <div id="isettingsPanel">
                <form>
                    <div class="row collapse">
                        <div class="small-12 medium-6 large-6 columns isettings-multilang" ng-if="vm.languages.length > 1">
                            <label>
                                <span>@T("Language")</span>
                                <img ng-cloak ng-if="vm.session.language" ng-src="{{vm.session.language.imageFilePath}}" alt="{{vm.session.language.description}}"/>
                            </label>
                            <select id="currentLanguage"
                                    ng-model="vm.session.language"
                                    ng-options="language.description for language in vm.languages"
                                    ng-change="vm.setLanguage()">
                            </select>
                        </div>
                        <div class="small-12 medium-6 large-6 columns isettings-currency" ng-if="vm.currencies.length > 1">
                            <label>
                                <span class="currency-symbol" ng-if="vm.session.currency" ng-bind="vm.session.currency.currencySymbol"></span>
                            </label>
                            <select id="currentCurrency"
                                    ng-model="vm.session.currency"
                                    ng-options="currency.description for currency in vm.currencies"
                                    ng-change="vm.setCurrency(null)">
                            </select>
                        </div>
                        <div class="ui-lock small-12 columns right isettings-buttons">
                            <button class="user-button btn secondary isettings-cancel">@T("Cancel")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <nav role="secondary-nav">
        <div class="row">
            <ul role="user-nav">
                <li role="sign-in" ng-cloak ng-show="vm.session && !vm.session.isAuthenticated">
                    @{
                        var signInUrl = Url.ContentPage<SignInPage>();
                        var returnUrl = HttpContext.Current.Request.QueryString["returnUrl"] ?? HttpContext.Current.Request.ActualUrl().PathAndQuery;
                        if (returnUrl != signInUrl && returnUrl != "/")
                        {
                            signInUrl += "?returnUrl=" + Url.Encode(returnUrl);
                        }
                    }
                    <a href="@signInUrl" class="btn sign-in fastClick"><span>@T("Sign In")</span></a>
                </li>
                <li role="user-options" ng-show="vm.session.isAuthenticated">
                    <a href="#" class="user-button fastClick">
                        <i ng-cloak class="social foundicon-torso"></i>
                        <span class="cust-name" ng-bind="vm.session.userLabel"></span>
                        <span class="user-role" ng-if="vm.session.userRoles" ng-bind="'(' + vm.session.userRoles + ')'"></span>
                    </a>
                    <a class="ex fastClick"><i class="foundicon-remove"></i></a>
                </li>
                <li role="isettings-btn" ng-show="vm.languages.length > 1 || vm.session.currencies.length > 1">
                    <button class="btn tertiary isettings fastClick">
                        <span class="flag-ind" ng-if="vm.session.language">
                            <img ng-cloak ng-src="{{vm.session.language.imageFilePath}}" alt="{{vm.session.language.description}}" />
                        </span>
                        <span class="currency-symbol" ng-if="vm.session.currency" ng-bind="vm.session.currency.currencySymbol"></span>
                    </button>
                    <button class="ex fastClick"><i class="foundicon-remove"></i></button>
                </li>
                <li role="sign-out" ng-cloak ng-show="vm.session.isAuthenticated">
                    @signOutLink()
                </li>
                <li role="multi-lang" ng-if="vm.languages.length > 1">
                    <div class="sn-lang">
                        <ul>
                            <li class="has-sub">
                                <a href="#">
                                    <img ng-cloak ng-if="vm.session.language.imageFilePath" ng-src="{{vm.session.language.imageFilePath}}"
                                         alt="{{vm.session.language.description}}" />
                                    <span ng-bind="vm.session.language.description"></span>
                                </a>
                                <ul>
                                    <li ng-repeat="language in vm.languages" ng-class="{'lang-current': language.id === vm.session.language.id}">
                                        <a href="" ng-click="vm.setLanguage(language.id)">
                                            <img ng-cloak ng-if="language.imageFilePath" ng-src="{{language.imageFilePath}}" alt="{{language.description}}" />
                                            <span ng-bind="language.description"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li role="currency" ng-if="vm.currencies.length > 1">
                    <div class="sn-currency">
                        <ul>
                            <li class="has-sub">
                                <a href="#">
                                    <span class="currency-symbol" ng-bind="vm.session.currency.currencySymbol"></span>
                                    <span class="currency-label" ng-bind="vm.session.currency.description"></span>
                                </a>
                                <ul>
                                    <li ng-repeat="currency in vm.currencies" ng-class="{'currency-current': currency.id === vm.session.currency.id}">
                                        <a href="" ng-click="vm.setCurrency(currency.id)">
                                            <span class="currency-symbol" ng-bind="currency.currencySymbol"></span>
                                            <span class="currency-label" ng-bind="currency.description"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul role="search">
                <li class="search-button">
                    <a class="search fastClick" id="searchButton" href="#search"><i class="foundicon-search"></i><span>@T("Search")</span></a>
                    <a class="ex fastClick"><i class="foundicon-remove"></i></a>
                </li>
            </ul>
        </div>
    </nav>

</div>

<header id="header" role="masthead" class="use-fastclick sign-in cms-rearrangeable" ng-controller="HeaderController as vm">
    <div class="head-row">
        <div class="row logo-row small-12 columns">
            @*//TODO CMS 3.7.1 how do we let someone link to home? send all urls through the prepareurl thing?*@
            <div class="clearfix">
                <div class="header-zone lft">
                    @Html.Zone(Model, "Left")
                </div>
                <div class="header-zone rt">
                    @Html.Zone(Model, "Right")
                </div>
                <isc-product-search id="wideSearch"></isc-product-search>
            </div>
        </div>
        <div class="isc-nav-bar">
            <div class="isc-nav-wrap">
                <label for="main-nav-check" class="toggle burger" onclick="insite.nav.activatePanel()" title="Menu">&#9776;</label>
                @if (Model.ViewModel.DisplayCart)
                {
                    <isc-micro-cart cart="vm.cart"></isc-micro-cart>
                }
            </div>
        </div>
    </div>
    <div class="ui-lock"></div>
</header>
<div class="ui-lock"></div>

@* This div is ended in the mainlayout, there wasn't a clean way to do this otherwise *@
<div class="container">
    <div id="wideNav">
        <input type="checkbox" name="nav" id="main-nav-check" />
        <div class="isc-primary-nav prevent-li-below-window">
            @* Remove the class 'prevent-li-below-window' to stop insite.nav.js from modifying position of sub ULs *@
            <ul>
                @foreach (var navigationItem in Content.GetChildPages<AbstractPage>(Content.GetPage<HomePage>().Page.ContentKey).Where(o => !o.ExcludeFromNavigation))
                {
                    @Html.ThemedPartial(navigationItem.NavigationView, navigationItem)
                }
            </ul>

            <div class="isc-primary-nav-top">
                @* To Do 3.7.1 - change navigation back function to use below label element *@
                <label class="toggle isc-primary-nav-back isc-hidden" onclick="insite.nav.goBack()" title="Back">&#9668;</label>

                <label class="toggle close-all" onclick="insite.nav.uncheckBoxes('nav')">&times;</label>
            </div>
        </div>
    </div>
    <div role="main">
        <div class="ui-lock"></div>
    @* ignore warning here, we close the div in mainlayout *@