@using Insite.Account.Content
@using Insite.Cart.Content
@using Insite.Core.Providers
@using Insite.Data.Entities
@using Insite.WebFramework.Mvc.Extensions
<div>
    <section class="checkout-section">
        <div class="checkout-section-header">
            <h2>@T("Payment Information")</h2>
        </div>
        <div class="payment-method row" ng-show="vm.cart.showPoNumber && vm.cart.showCreditCard">
            <div class="medium-3 columns">
                <label for="paymentMethod">@T("Payment Method")</label>
            </div>
            <div class="medium-5 end columns">
                <select id="paymentMethod" name="paymentMethod"
                        data-rule-required="true" data-msg-required='@T("Payment Method is required.")'
                        ng-model="vm.cart.paymentMethod"
                        ng-options="PaymentMethod.description for PaymentMethod in vm.cart.paymentOptions.paymentMethods | filter:vm.filterPaymentMethod(vm.cart)">
                </select>
                <span class="field-validation-valid" data-valmsg-for="paymentMethod" data-valmsg-replace="true"></span>
            </div>
            <div class="paypal" ng-show="vm.settings.showPayPal">
                <a href ng-click="vm.submitPaypal({returnUrl: '@(Url.ContentPage<ReviewAndPayPage>())', signInUrl: '@(Url.ContentPage<SignInPage>())'})">
                    <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Express Checkout" />
                </a>
            </div>
        </div>
        <div class="po-number row" ng-show="vm.cart.showPoNumber">
            <div class="medium-3 columns">
                <label for="poNumber">@T("PO Number")<sup class="errorIndicator">*</sup></label>
            </div>
            <div class="medium-5 end columns">
                <input id="poNumber" name="poNumber" type="text"
                       data-rule-maxlength="50"
                       data-msg-maxlength="{{'@MessageProvider.Current.Field_Too_Long'.replace('{0}', '@T("PO Number")').replace('{1}', 50)}}"
                       data-msg-required='@T("PO Number is required.")'
                       @*data-rule-required="{{ vm.cart.requiresPoNumber }}"*@
                       data-rule-required="true" 
                       ng-model="vm.cart.poNumber">
                <span class="field-validation-valid" data-valmsg-for="poNumber" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div id="storedProfileRows" ng-show="vm.cart.showCreditCard && vm.cart.paymentMethod.isPaymentProfile">
            <div class="security-code row">
                <div class="medium-3 columns">
                    <label>@T("Security Code")&nbsp;<a href="javascript:void(0);" data-reveal-id="ppWhatsThisPopup">@T("What's This?")</a></label>
                </div>
                <div class="medium-5 end columns">
                    <input id="ppSecurityCode" name="ppSecurityCode" type="text" @* minlength="3" maxlength="4" *@
                            data-rule-required="true" data-msg-required="@T("Security code is required.")"
                            data-rule-pattern="/(?!000)\d{3,4}$/" data-msg-pattern="@T("Security code is invalid.")"
                            ng-model="vm.cart.paymentOptions.creditCard.securityCode">
                    <span class="field-validation-valid" data-valmsg-for="ppSecurityCode" data-valmsg-replace="true"></span>
                    <div id="ppWhatsThisPopup" class="reveal-modal" data-reveal>
                        <div class="modal-wrap">
                            <img src="@Url.ThemedContent("/Images/Default/security_code_sample.jpg")" alt="Security Code Sample" />
                            <a id="paymentSelectorSecurityWindowCloseButton" class="close-reveal-modal">&#215;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="creditCardRows" class="checkout-section" ng-show="vm.cart.showCreditCard && vm.cart.paymentMethod.isCreditCard">
        @* this div is required for javascript to hide the credit card inputs *@
        <div class="checkout-section-header">
            <h2>@T("Credit Card Information")</h2>
        </div>
        <morsco-credit-card-view cart="vm.cart"></morsco-credit-card-view>
        @* TODO: Backend needs to wire up these fields *@
        @*<div class="card-name row">
            <div class="medium-3 columns">
                <label for="cardHolderName">@T("Name on Card")</label>
            </div>
            <div class="medium-5 end columns">
                <input id="cardHolderName" name="cardHolderName" type="text"
                       data-rule-required="true"
                       data-msg-required='@T("Cardholder name is required.")'
                       ng-model="vm.cart.paymentOptions.creditCard.cardHolderName">
                <span class="field-validation-valid" data-valmsg-for="cardHolderName" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label for="">Address</label>
            </div>
            <div class="medium-5 end columns">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label for="">City</label>
            </div>
            <div class="medium-5 end columns">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label for="">State</label>
            </div>
            <div class="medium-5 end columns">
                <select></select>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label for="">Zip Code</label>
            </div>
            <div class="medium-5 end columns">
                <input type="text" />
            </div>
        </div>
        <div class="card-type row">
            <div class="medium-3 columns">
                <label for="cardType">@T("Card Type")</label>
            </div>
            <div class="medium-5 end columns">
                <select id="cardType" name="cardType"
                        data-rule-required="true"
                        data-msg-required='@T("Credit card type is required.")'
                        ng-model="vm.cart.paymentOptions.creditCard.cardType"
                        ng-options="cardType.value as cardType.key for cardType in vm.cart.paymentOptions.cardTypes">
                    <option value="">@T("Select Card")</option>
                </select>
                <span class="field-validation-valid" data-valmsg-for="cardType" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="card-num row">
            <div class="medium-3 columns">
                <label for="cardNumber">@T("Card Number")</label>
            </div>
            <div class="medium-5 end columns">
                <input id="cardNumber" name="cardNumber" maxlength="16" type="text" style="display: block;"
                        data-rule-required="true" data-msg-required="@T("Credit card number is required.")"
                        data-val="true" data-val-regex="@T("Credit card number is invalid.")" data-val-regex-pattern="^((4\d{3})|(5[1-5]\d{2})|(3\d{2})|(6\d{3}))\d{12}"
                        ng-model="vm.cart.paymentOptions.creditCard.cardNumber">
                <span class="field-validation-valid" data-valmsg-for="cardNumber" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="exp-date row">
            <div class="medium-3 columns">
                <label>@T("Expiration Date")</label>
            </div>
            <div class="medium-5 end columns">
                <div class="row">
                    <div class="small-4 columns exp-month">
                        <select id="expirationMonth" name="expirationMonth"
                                data-rule-required="true" data-msg-required='@T("Expiration month is required.")'
                                ng-model="vm.cart.paymentOptions.creditCard.expirationMonth"
                                ng-options="month.value as month.key for month in vm.cart.paymentOptions.expirationMonths"></select>
                        <span class="field-validation-valid" data-valmsg-for="expirationMonth" data-valmsg-replace="true"></span>
                    </div>
                    <div class="small-4 end columns exp-year">
                        <select id="expirationYear" name="expirationYear"
                                data-rule-required="true" data-msg-required='@T("Expiration year is required.")'
                                ng-model="vm.cart.paymentOptions.creditCard.expirationYear"
                                ng-options="year.value as year.key for year in vm.cart.paymentOptions.expirationYears"></select>
                        <span class="field-validation-valid" data-valmsg-for="expirationYear" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="security-code row">
            <div class="medium-3 columns">
                <label>@T("Security Code")</label>
            </div>
            <div class="medium-5 end columns">
                <div class="row">
                    <div class="small-4 columns">
                        <input id="securityCode" name="securityCode" type="text" minlength="3" maxlength="4"
                                data-rule-required="true" data-msg-required="@T("Security code is required.")"
                                data-val="true" data-val-regex-pattern="(?!000)\d{3,4}$" data-val-regex="@T("Security code is invalid.")"
                                ng-model="vm.cart.paymentOptions.creditCard.securityCode">
                        <span class="field-validation-valid" data-valmsg-for="securityCode" data-valmsg-replace="true"></span>
                    </div>
                    <div class="small-4 end columns">
                        <a href="javascript:void(0);" data-reveal-id="whatsThisPopup">@T("What's This?")</a>
                        <div id="whatsThisPopup" class="reveal-modal" data-reveal>
                            <div class="modal-wrap">
                                <img src="@Url.ThemedContent("/Images/Default/security_code_sample.jpg")" alt="Security Code Sample" />
                                <a id="paymentSelectorSecurityWindow2CloseButton" class="close-reveal-modal">&#215;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            @* TODO Put this back in after 4.0, taken out because we don't have time to properly document it
            <div ng-show="vm.cart.paymentOptions.canStorePaymentProfile">
                <label for="savePaymentInfo">@T("Save Payment Info")</label>
                <input type="checkbox" ng-model="vm.cart.paymentOptions.storePaymentProfile" />
            </div>
            *@
            @*<div style="color: red;" ng-bind="vm.submitErrorMessage"></div>
        </div>*@
    </section>
    
    @* Hiding. Don't need *@
    <div class="promo-code hide" ng-hide="vm.cart.paymentOptions.isPayPal || vm.cart.type == '@CustomerOrder.OrderType.Quote'">
                <label>@T("Have a Promotion Code?")</label>
                <input id="promotxt" name="PromoCode" type="text" ng-model="vm.promotionCode" />
                <span class="field-validation-error" ng-if="vm.promotionErrorMessage" ng-bind="vm.promotionErrorMessage"></span>
                <span class="field-validation-valid" ng-if="vm.promotionAppliedMessage" ng-bind="vm.promotionAppliedMessage"></span>
                <a id="paymentSelectorApplyPromotionButton" href="" class="btn secondary btn-apply" ng-click="vm.applyPromotion()">@T("Apply_promotion")</a>
                <a id="select_promo_product-link" href="javascript:void(0);" data-reveal-id="addProductPromoPopup"></a>
                <div id="addProductPromoPopup" class="reveal-modal" data-reveal>
                    <div class="modal-wrap">
                        <div id="select_promo_product"></div>
                        <a id="paymentSelectorPromoCloseButton" class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
            </div>
    
</div>