
@using Insite.Admin.Models
@model OneToManyRelationshipsModel

<div class="modal--large grid-modal" zf-modal overlay-close="false" id="addOneToManyRelationships-@Model.CollectionName-@Model.ChildrenColumn-modal">
    <isa-add-one-to-many-relationships collection-name="@Model.CollectionName"
                                       default-sort="@Model.Form.DefaultSortProperty"
                                       default-sort-ascending="@Model.Form.DefaultSortIsAscending"
                                       children-column="@Model.ChildrenColumn"
                                       parent-id-column="@Model.ParentIdColumn"
                                       page-size="@Model.PageSize"
                                       parent-entity-id="entityListCtrl.parentEntityId"
                                       pluralized-entity-name="@Model.EntityDefinition.PluralizedName"
                                       properties-to-select="@Model.PropertiesToSelect"
                                       class="grid-block"></isa-add-one-to-many-relationships>
</div>
    <script type="text/ng-template" id="add-one-to-many-relationships-@Model.CollectionName-@Model.ChildrenColumn">
        <div ng-cloak ng-if="entityListCtrl.displayList" class="grid-block">
            @Html.Partial("EntityList", new EntityListModel
   {
       EntitiesViewModel = Model,
       Buttons =@<text>
            <span class="right">
                <a class="button secondary" ng-click="entityListCtrl.close()">Done</a>
                <span ng-if="entityListCtrl.areNoneSelected()">
                    <a class="button" disabled>Assign</a>
                </span>
                <span ng-if="!entityListCtrl.areNoneSelected()">
                    <a class="button" ng-click="entityListCtrl.assignSelected()">Assign</a>
                </span>
            </span>
    </text>
   })
        </div>
    </script>
