@model EditContentFieldModel<TextAreaContentFieldAttribute>

<label for="@Model.FieldName">
    @Model.DisplayName
    @if (Model.ContentFieldAttribute.IsRequired)
    {
        <span class="required">(required)</span>
    }
    @Html.Partial("ContentItemFields/_ContextDisplay", Model.ContentItemFieldModel)
</label>
<span data-valmsg-replace="true" data-valmsg-for="@(Model.FieldName)"></span>
<textarea id="@Model.FieldName" name="@Model.FieldName" 
    @if (Model.ContentFieldAttribute.IsRequired) { <text> data-val="true" data-val-required="Value is required" </text>  }
@*DO NOT put space before or after @Html.Raw()*@
>@Html.Raw(Model.GetValue<string>())</textarea>
@*DO NOT put space before or after @Html.Raw()*@